{% extends 'base.html.twig' %}

{% block title %}{{ 'contact.show.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'contact.show.header'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'contact.field.id'|trans }}</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>{{ 'contact.field.name'|trans }}</th>
                <td>{{ contact.name }}</td>
            </tr>
            <tr>
                <th>{{ 'contact.field.surname'|trans }}</th>
                <td>{{ contact.surname }}</td>
            </tr>
            <tr>
                <th>{{ 'contact.field.phone'|trans }}</th>
                <td>{{ contact.phone }}</td>
            </tr>
            <tr>
                <th>{{ 'contact.field.email'|trans }}</th>
                <td>{{ contact.email }}</td>
            </tr>
            <tr>
                <th>{{ 'contact.field.note'|trans }}</th>
                <td>{{ contact.note }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_contact_index') }}">{{ 'contact.show.back_to_list'|trans }}</a>

    <a href="{{ path('app_contact_edit', {'id': contact.id}) }}">{{ 'contact.show.edit'|trans }}</a>

    {{ include('contact/_delete_form.html.twig') }}
{% endblock %}
